<div id="interactMol" > <!-- class="col-xs-12 col-sm-12 col-md-7 col-lg-7"-->
  <!--<div id='imgDisp' class="imgDisplayer"></div>-->
  <!--<img  src="./Molecules/{{name}}/rpz.png" alt="molecular vision of the concept"></img>-->
  <!--div id="p5Mol" ondragstart="return false;"></div-->
  <div id="p5Mol" ondragstart="return false;"></div>
  <div id="miniMol">
    <a href="../periodique" ><img id="tab" src="./../media/img/tab.png" alt="tableau des éléments"></img></a>
    <p id="formula"></p>
    <img src="./Molecules/{{name}}/mini.png" alt="miniature colorisée de la molécule"></img>
  </div>
</div>
<div  id="infos" style="display:none">
  <div class="infoTexts">
    <h1>{{name}}</h1>
    <div id="title"></div>
    <h2 id="subtitle"></h2>
    <div id="varInfos"></div>
  </div>
</div>
<!--div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 nopadding" id="rpzs" style="display:none;">
    <img src="./Molecules/{{name}}/Symboles/rpz1.png" alt="formula of the molecule">
    <img src="./Molecules/{{name}}/Symboles/rpz2.png" alt="spherical version of the molecule"></img>
    <img src="./Molecules/{{name}}/Symboles/rpz3.png" alt="stick version of the molecule"></img>
    <img src="./Molecules/{{name}}/Symboles/rpz4.png" alt="lines version of the molecule"></img>
    <img src="./Molecules/{{name}}/Symboles/rpz5.png" alt="ball of the molecule">
</div-->
